topology PP : basic {
        "public" -> "private"
}

aware priv2pub : basic {
        "private" -> "public"
}

pg output {
        file : "stdout"
        tag = "PP.public"
}
